:root {
    --font-basic: Rosario;
    --font-special: Nunito;
    --font-mono: SourceCodePro;

    --colour-white: #FFFFFF;
    --colour-black: #000000;

    --colour-primary: ChangeMe;
    --colour-secondary: ChangeMe;
    --colour-tertiary: ChngeMe;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    src: url("../font/Nunito-VariableFont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rosario";
    font-style: normal;
    src: url("../font/Rosario-VariableFont.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "SourceCodePro";
    font-style: normal;
    src: url("../font/SourceCodePro-VariableFont.woff2") format("woff2");
    font-display: swap;
}

@media screen and (max-width: 1280px) {
    #container {
        width: 100%;
    }
}

.screen {
    display: none;
}

.active-screen {
    display: block;
}

#map {
    height: 50em;
}

img.player-marker {
    filter: hue-rotate(120deg);
}