:root {
  --font-basic: 'Rosario', sans-serif;
  --font-special: 'Nunito', sans-serif;
  --font-mono: 'SourceCodePro', monospace;

  --colour-white: #FFFFFF;
  --colour-black: #000000;
  --colour-grey: #303030;

  --colour-primary: #007bff;
  --colour-secondary: #6c757d;
  --colour-tertiary: #28a745;
}


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("../font/Nunito-VariableFont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rosario';
  font-style: normal;
  src: url("../font/Rosario-VariableFont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  src: url("../font/SourceCodePro-VariableFont.woff2") format("woff2");
  font-display: swap;
}


html {
  image-rendering: -webkit-optimize-contrast;
  background-color: rgba(0, 0, 0, 1);
}

body {
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
}

#applicationPanel {
  z-index: 1;
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--colour-primary);
  color: var(--colour-white);

  user-select: none;
}

#applicationPanel ul {
  list-style: none;
  display: flex;
}

#applicationPanel li {
  margin: 1rem;
}

main {
  width: 100%;
  height: calc(100% - 3rem);
}

#applicationScreen {}

#applicationScreenMap {}

#applicationScreenInterface {}

#uiInterface {
  width: 100vw;
  height: 100vh;
}

#uiActive {
  z-index: 9999;
  width: 100%;
  margin-top: 7vh;
  position: absolute;
  display: flex;
  justify-content: center;
}

#uiActive .container {
  padding: 8vh;
  background: #303030d2;
  border-radius: 20px;
  max-height: 60vh;
  max-width: 80vw;
  overflow-y: auto;
}

h2 {
  color: var(--colour-white);
  font-size: 3em;
}

.main-button-list {
  margin-top: 5vh;
  width: 100%;
}

.main-button-list li {
  padding: .5vh;
  margin-top: 1.5vh;
  display: flex;
  justify-content: center;
}

.main-button-list li button {
  width: 100%;
  all: unset;
  padding: 1.5vh;
  font-size: 2em;
  border-radius: 20px;
  color: var(--colour-white);
  background: var(--colour-grey);
}

.highscore-table {
  margin-top: 2vh;
  width: 30vw;
  text-align: left;
}

.highscore-table tr {
  color: var(--colour-white);
  font-size: 1.2em;
}

.highscore-return-btn {
  all: unset;
  margin-top: 2vh;
  padding: 1vh;
  width: 15vw;
  font-size: 1.4em;
  text-align: center;
  color: var(--colour-white);
  background: var(--colour-grey);
  border-radius: 10px;
}

.highscore-return-btn:hover {
  color: red;
  background-color: var(--colour-grey);
}

.player-add-input-list {
  margin-top: 5vh;
  width: 100%;
}

.player-add-input-list li {
  padding: .5vh;
  margin-top: .5vh;
  display: flex;
  justify-content: center;
}

.player-add-input-list li input {
  padding: 1.2vh;
  border: none;
  border-radius: 20px;
}

.player-add-input-list li button {
  width: 100%;
  all: unset;
  padding: 1vh;
  font-size: 1.5em;
  border-radius: 20px;
  color: var(--colour-white);
  background: var(--colour-grey);
}

.ButtonSelectionStartGame {
  background: var(--colour-tertiary) !important;
}

.ButtonSelectionBack {
  background: red !important;
}

.ButtonSelectionPlayerAdd:hover {
  background: var(--colour-tertiary);
}

.ButtonSelectionStartGame:hover {
  background: var(--colour-grey) !important;
}

.ButtonSelectionBack:hover {
  background: var(--colour-grey) !important;
}

.players {
  margin-top: 3vh;
  width: 100%;
}

.players li {
  margin-top: .7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.players li p {
  color: var(--colour-white);
  font-size: 1.5em;
}

.players li button {
  all: unset;
  margin-left: auto;
  font-size: 1.2em;
  padding: .5vh;
  color: var(--colour-white);
  background: red;
  border-radius: 10px;
}

.players li button:hover {
  background: var(--colour-grey);
}

h3 {
  margin-top: 1.5vh;
  font-size: 2em;
  color: var(--colour-white);
}

#TurnClock {
  margin-top: 1vh;
  font-size: 1.3em;
}

.parcel-selection-list {
  margin-top: 2vh;
}

.parcel-selection-list li {
  margin-top: 2vh;
}

h4 {
  font-size: 1.3em;
  color: var(--colour-primary);
}

.parcel-selection-list li p {
  margin-top: .5vh;
  font-size: 1.2em;
  color: var(--colour-white);
}

.selected-parcel h4 {
  color: var(--colour-tertiary) !important;
}

.selected-parcel p {
  color: var(--colour-tertiary) !important;
}

#map {
  height: 96vh;
  width: 100vw;
  position: absolute;
}

.game-map {
  position: relative !important;
  height: 70vh !important;
}

.parcel-delivery-screen-container {
  background-color: var(--colour-white);
}

.parcel-delivery-screen {
  padding: 1em;
}

.parcel-delivery-list li {
  padding: .5em;
  margin: .5em;
  color: var(--colour-white);
  border-radius: 10px;
  background-color: var(--colour-secondary);
}

/* Default settings for elements */
button {
  width: 8rem;
  height: 2rem;

  margin: 0.25rem;
  padding: 0.5rem;

  font-family: var(--font-special);
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: background-color 0.75s ease;
}

button:hover {
  background-color: var(--colour-tertiary);
}