:root {
  --font-basic: 'Rosario', sans-serif;
  --font-special: 'Nunito', sans-serif;
  --font-mono: 'SourceCodePro', monospace;

  --colour-white: #FFFFFF;
  --colour-black: #000000;
  --colour-grey: #303030;

  --colour-primary: #007bff;
  --colour-secondary: #6c757d;
  --colour-tertiary: #28a745;
}


@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url("../font/Nunito-VariableFont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Rosario';
  font-style: normal;
  src: url("../font/Rosario-VariableFont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'SourceCodePro';
  font-style: normal;
  src: url("../font/SourceCodePro-VariableFont.woff2") format("woff2");
  font-display: swap;
}


html {
  image-rendering: -webkit-optimize-contrast;
  background-color: rgba(0, 0, 0, 1);
}

body {
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
}

#applicationPanel {
  z-index: 1;
  width: 100%;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--colour-primary);
  color: var(--colour-white);

  user-select: none;
}

#applicationPanel ul {
  list-style: none;
  display: flex;
}

#applicationPanel li {
  margin: 1rem;
}

main {
  width: 100%;
  height: calc(100% - 3rem);
}

#applicationScreen {}

#applicationScreenMap {}

#applicationScreenInterface {}

#uiActive {
  backdrop-filter: blur(10px);
  z-index: 9999;
}

#map {
  height: 96vh;
  width: 100vw;
  position: absolute;
}

.game-map {
  position: relative !important;
  height: 70vh !important;
}

.parcel-delivery-screen-container {
  background-color: var(--colour-white);
}

.parcel-delivery-screen {
  padding: 1em;
}

.parcel-delivery-list li {
  padding: .5em;
  margin: .5em;
  color: var(--colour-white);
  border-radius: 10px;
  background-color: var(--colour-secondary);
}

/* Default settings for elements */
button {
  width: 8rem;
  height: 2rem;

  margin: 0.25rem;
  padding: 0.5rem;

  font-family: var(--font-special);
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: background-color 0.75s ease;
}

button:hover {
  background-color: var(--colour-tertiary);
}